name: CI - Run tests

on:
  push: {}
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Enable pnpm
        run: |
          corepack enable
          corepack prepare pnpm@8 --activate

      - name: Install root dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Install lib dependencies
        run: |
          cd lib
          pnpm install --no-frozen-lockfile

      - name: Run tests (lib only)
        run: |
          cd lib
          pnpm test
